<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores esse necessitatibus, amet nostrum rerum dolorum adipisci sunt consequatur eligendi, sapiente recusandae ipsa porro earum corrupti illum exercitationem corporis inventore molestias non hic tempora facilis. Magnam mollitia neque temporibus deserunt eveniet.</p>

<%- include("footer") -%>
